name: "Build and push Docker image to JFrog"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  security-events: write

env:
  JF_URL: ${{ vars.JF_URL }}
  DOCKER_REPO: winnik.jfrog.io/demo-docker
  IMAGE_NAME: webgoat
  BUILD_NAME: webgoat-build
  JFROG_CLI_LOG_LEVEL: "DEBUG"

jobs:
  build-and-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: ./.github/actions/java-setup
        with:
          cache: 'maven'

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Maven Build
        run: |
          mvn clean install -DskipTests

      - name: Build Tag and push Docker Image
        env:
          IMAGE_NAME: ${{ env.DOCKER_REPO }}/webgoat:${{ github.run_number }}
        run: |
          jf docker build -t $IMAGE_NAME .
          jf docker push $IMAGE_NAME

      - name: Publish Build info With JFrog CLI
        env:
          # Generated and maintained by GitHub
          JFROG_CLI_BUILD_NAME: webgoat-build
          # JFrog organization secret
          JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}
        run: |
          # Export the build name and build number
          # Collect environment variables for the build
          jf rt build-collect-env
          # Collect VCS details from git and add them to the build
          jf rt build-add-git
          # Publish build info
          jf rt build-publish
